<ion-header>
  <ion-navbar>
    <ion-title>
      Bücher zurückgeben
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="return-books">
  <ion-list>
  <ion-item class="item-remove-animate item-avatar item-icon-right" *ngFor="let book of books" type="item-text-wrap" href="#/tab/add/{{book.id}}">
    <ion-avatar item-left>
      <img src="{{book.image}}">
    </ion-avatar>
    <h2>{{book.title}}</h2>
    <p>{{book.description}}</p>
    <i class="icon ion-chevron-right icon-accessory"></i>
    <button  clear item-right class="button-assertive" ng-click="remove(book)">
      Abbrechen
    </button>
  </ion-item>
</ion-list>
</ion-content>
